/* Universal Elements */

body {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6em;
}
    h1 {
        margin-left: 10%;
        margin-bottom: 0;
        font-family: 'Raleway', sans-serif;
        outline: none;
    }
    h2 {
        margin-left: 15%;
        margin-bottom: 0;
    }
        h2 a {
            text-decoration: none;
            color: #000;
        }
            h2 a:hover {
                color: rgba(178, 191, 161, 1);
            }
    h3 {
        color: #516e37;
    }

/* Persistent Divs */

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    height: 150px;
    background: url('../assets/images/interface/header.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
    #logo {
        width: 140px;
        height: 140px;
        border: 1px solid #000;
        border-radius: 50%;
        margin-left: 60px;
        margin-top: 80px;
        position: absolute;
        z-index: 15;
        background: url('../assets/images/interface/logo.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    #social {
        width: 100%;
        text-align: right;
    }
        .social {
            width: 40px;
            height: 40px;
            margin: 1%;
            border: 1px solid #000;
            border-radius: 50%;
            background: #fff;
        }
        .social:hover {
            background: #d3e0bf;
        }
    .socialbutton {
        width: 200px;
        height: 50px;
        background: #fff;
        font-family: 'Montserrat', sans-serif;
        margin: 30px;
        outline: none;
        border: solid 1px #000;
        cursor: pointer;
    }
main {
    width: 100%;
    min-height: 500px;
}
    .gallery {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        width: 70%;
        min-height: 100px;
        margin: 0 auto;
    }
        .thumbnail {
            width: 130px;
            height: 75px;
            border: 1px solid #000;
            margin: 10px;
        }
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.9);
        }
            .modal-content {
                margin: auto;
                display: block;
                width: 90%;
                max-width: 1000px;
                text-align: center;
                color: #ccc;
                padding: 10px 0;
                height: 150px;
            }
                .modal-content {
                    animation-name: zoom;
                    animation-duration: 0.6s;
                }
                @keyframes zoom {
                    from {
                        transform: scale(0);
                    }
                    to {
                        transform: scale(1);
                    }
                }

                .close {
                    position: absolute;
                    top: 15px;
                    right: 35px;
                    color: #f1f1f1;
                    font-size: 40px;
                    font-weight: bold;
                    transition: 0.3s;
                }
                .close:hover, .close:focus {
                    color: #bbb;
                    text-decoration: none;
                    cursor: pointer;
                }
            #modal_image {
                min-height: 500px;
                max-height: 700px;
            }

.textbox {
    width: 70%;
    margin: 0 auto;
    margin-top: 2%;
    min-height: 120px;
    font-size: 0.95em;
    line-height: 1.6;
}

.box_one {
    background: rgba(230,230,230,0.5);
    min-height: 100px;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
}
.box_two {
    min-height: 100px;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
}

footer {
    position: relative;
    width: 100%;
    bottom: 1px;
    margin: 0 auto;
    padding: 10px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    text-align: center;
    border: 1px solid #000;
}

/* Media Queries */
@media screen and (max-width: 1300px) {
    #logo {
        display: none;
    }
}
@media screen and (max-width: 900px) {
    #social {
        display: none;
    }
    .socialbutton {
        margin: 10px;
    }
    @media screen and (orientation: portrait) {
        .gallery {
            display: none;
        }
    }
}
