/* Universal Elements */

body {
    width: 90%;
    margin: 0 auto;
    background: linear-gradient(to bottom, rgba(230,230,230,1) 0%, rgba(222,222,222,1) 4%, rgba(242,242,242,1) 13%, rgba(255,255,255,1) 100%);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6em;
}
    h1 {
        margin-left: 3%;
        font-family: 'Raleway', sans-serif;
        outline: none;
    }
    h3 {
        color: #516e37;
    }
    p {
        text-align: justify;
    }

/* Grids */

#mainGrid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(30px, auto);
    grid-template-areas:
        "hdr hdr hdr hdr hdr hdr hdr"
        "hdr hdr hdr hdr hdr hdr hdr"
        "hdr hdr hdr hdr hdr hdr hdr"
        "hdr hdr hdr hdr hdr hdr hdr"
        "hdr hdr hdr hdr hdr hdr hdr"
        "nav nav nav nav nav nav nav"
        "mai mai mai mai mai mai mai"
        "mai mai mai mai mai mai mai"
        "mai mai mai mai mai mai mai"
        "mai mai mai mai mai mai mai"
        "mai mai mai mai mai mai mai"
        "ftr ftr ftr ftr ftr ftr ftr";
}

/* Persistent Divs */

header {
    display: grid;
    width: 100%;
    grid-area: hdr;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(10px, auto);
    grid-template-areas:
        "soc soc soc soc soc soc soc"
        "log  .   .   .   .   .   . ";
    background: url('../assets/images/interface/header.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
    #logo {
        width: 140px;
        height: 140px;
        grid-area: log;
        border: 1px solid #000;
        border-radius: 50%;
        margin-left: 60px;
        margin-top: 80px;
        position: absolute;
        z-index: 15;
        background: url('../assets/images/interface/logo.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    #social {
        width: 100%;
        grid-area: soc;
        text-align: right;
    }
        .social {
            width: 40px;
            height: 40px;
            margin: 1%;
            border: 1px solid #000;
            border-radius: 50%;
            background: #fff;
        }
        .social:hover {
            background: #d3e0bf;
        }

nav {
    grid-area: nav;
    width: calc(100% - 20px);
    height: 10px;
    padding: 10px;
    text-align: right;
}
    #right {
        width: 100%;
        grid-area: rig;
        text-align: right;
    }
    nav a {
        font-family: 'Raleway', sans-serif;
        font-size: 1.3em;
        color: #000;
        text-decoration: none;
        padding: 10px 23px;
    }
#mobileNav {
    display: none;
}
    #navLinks {
        display: none;
    }

main {
    width: 100%;
    min-height: 400px;
    grid-area: mai;
}
footer {
    width: calc(100% - 2px);
    padding: 10px 0;
    grid-area: ftr;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    text-align: center;
    border: 1px solid #000;
}

/* Index Page */

    #altNav {
        width: 100%;
        grid-area: lef;
        padding: 10px 0;
        margin-top: -45px;
        text-align: center;
    }

/* Gallery Page */

#gallery_table {
    margin-bottom: 50px;
}

td>p {
    margin: 0 0 0 50px;
}

/* Resume Page */

.bigWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
    .jobWrapper {
        width: calc(50% - 60px);
        min-height: 100px;
        padding: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
        .headingBanner {
            width: calc(100% - 60px);
            min-height: 30px;
            padding: 5px 0;
            margin-left: -6%;
            }
        .jobRoleText {
            width: 100%;
            min-height: 50px;
            float: left;
        }

/* Media Queries */

@media screen and (max-width: 930px) {
    .jobWrapper {
        display: block;
        width: calc(100% - 60px);
    }
}
@media screen and (max-width: 700px) {
    #logo {
        display: none;
    }
    nav {
        text-align: center;
    }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #mainGrid {
        display: block;
    }
    header {
        height: 150px;
    }
    .textBox {
        width: 70%;
        margin: 3% 15% 10% 15%;
        text-align: left;
    }
    .statementBox {
        margin: 7% 15%;
    }
}
